<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Meal Resturant</title>
    <script
      defer
      src="https://kit.fontawesome.com/f630c742da.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../public/css/index.css" />
  </head>
  <body>
    <header>
      <div class="headerIcons" style="border: 1px solid red;">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-google-plus-g"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-regular fa-magnifying-glass"></i>
      </div>
      <div class="headerLogs">
        <ul>
          <li><a href="login" target="_blank"><i class="fa-solid fa-user"></i>
              Log in</a></li>
          <li><a href="register" target="_blank"><i
                class="fa-regular fa-pen-to-square"
              ></i>
              Register Now</a></li>
          <li><a href="cart" target="_blank"><i
                class="fa-solid fa-user"
              ></i></a><span class="cartCounter">0</span>
            Items-(&dollar;
            <span class="totalCounter">0.00</span>)</li>
        </ul>
      </div>
    </header>
    <nav>
      <div class="logoSec">
        <div class="callSec">
          <i class="fa-solid fa-phone"></i>
          <a href="tel:+84123456789">Call US : (+84)123456789</a>
          <a href="mailto:support@freashmeal.com">E-mail :
            support@freashmeal.com</a>
        </div>
      </div>
    </nav>
    <script src="../public/js/app.js"></script>
    <script src="../public/js/addEventListener.js"></script>
  </body>

</html>