<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <title>Fresh Meal Resturant</title>
    <script
      defer
      src="https://kit.fontawesome.com/f630c742da.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="headerIcons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="http://google.com" target="_blank">
            <i class="fa-brands fa-google-plus-g"></i>
          </a>
          <a href="http://facebook.com" target="_blank"><i
              class="fa-brands fa-facebook-f"
            ></i></a>
          <a href="http://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <i class="fa-regular fa-magnifying-glass"></i>
        </div>
        <div class="headerLogs">
          <ul>
            <li><a href="login" target="_blank"><i class="fa-solid fa-user"></i>
                Log in</a></li>
            <li><a href="register" target="_blank"><i
                  class="fa-regular fa-pen-to-square"
                ></i>
                Register Now</a></li>
            <li><a href="cart" target="_blank"><i
                  class="fa-solid fa-cart-shopping"
                ></i></a><span class="cartCounter">0</span>
              Items-(&dollar;
              <span class="totalCounter">0.00</span>)</li>
          </ul>
        </div>

      </div>
    </header>
    <div class="bs-header">
      <div class="container">
        <div class="info">
          <div class="call-sec">
            <i class="fa-solid fa-phone"></i>
            <div>
              <div>
                <a href="tel:+84123456789" class="call-link">Call US :
                  <span class="call-num">(+84)123456789</span></a>
              </div>
              <div>
                <a href="mailto:support@freashmeal.com">E-mail:
                  support@freashmeal.com</a>
              </div>
            </div>
          </div>
          <div class="logo-div">
            <img src="imgs/logo/logo.svg" alt="logo" />
          </div>

          <div class="work-sec">
            <i class="fa-regular fa-clock"></i>
            <div>
              <div>
                <h3>Working Hours</h3>
              </div>
              <div>
                <h4 id="time-header">Mon- Sat (8.00am - 12.00am)</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../public/js/app.js"></script>
    <script src="../public/js/addEventListener.js"></script>
  </body>

</html>