<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Meal Resturant</title>
    <script
      defer
      src="https://kit.fontawesome.com/f630c742da.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <div class="head main-head">
      <header>
        <div class="container">
          <div class="headerIcons">
            <i class="fa-regular fa-magnifying-glass"></i>
          </div>
          <div class="headerLogs">
            <ul>
              <li><a href="cart" target="_blank"><i
                    class="fa-solid fa-cart-shopping"
                  ></i></a><span class="cartCounter">0</span>
                Items-(&dollar;
                <span class="totalCounter">0.00</span>)
              </li>
            </ul>
          </div>

        </div>
      </header>
      <div class="bs-header">
        <div class="container">
          <div class="info">
            <div class="logo-div">
              <img src="imgs/logo/logo.svg" alt="logo" />
            </div>

          </div>
          <div class="nav-bar">
            <nav>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
              </ul>
            </nav>
          </div>
          <div class="info">
            <div class="call-sec">
              <i class="fa-solid fa-phone"></i>
              <div>
                <div>
                  <a href="tel:+84123456789" class="call-link">Call US :
                    <span class="call-num">(+84)123456789</span></a>
                </div>
                <div>
                  <a href="mailto:support@freashmeal.com">E-mail:
                    support@freashmeal.com</a>
                </div>
              </div>
            </div>

            <div class="work-sec">
              <i class="fa-regular fa-clock"></i>
              <div>
                <div>
                  <h3>Working Hours</h3>
                </div>
                <div>
                  <h4 id="time-header">Mon- Sat (8.00am - 12.00am)</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="body">

      <div class="head">
        <header>
          <div class="container">
            <div class="headerIcons">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="http://google.com" target="_blank">
                <i class="fa-brands fa-google-plus-g"></i>
              </a>
              <a href="http://facebook.com" target="_blank"><i
                  class="fa-brands fa-facebook-f"
                ></i></a>
              <a href="http://instagram.com" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <i class="fa-regular fa-magnifying-glass"></i>
            </div>
            <div class="headerLogs">
              <ul>
                <li><a href="login" target="_blank"><i
                      class="fa-solid fa-user"
                    ></i>
                    Log in</a></li>
                <li><a href="register" target="_blank"><i
                      class="fa-regular fa-pen-to-square"
                    ></i>
                    Register Now</a></li>
                <li><a href="cart" target="_blank"><i
                      class="fa-solid fa-cart-shopping"
                    ></i></a><span class="cartCounter">0</span>
                  Items-(&dollar;
                  <span class="totalCounter">0.00</span>)
                </li>
              </ul>
            </div>

          </div>
        </header>
        <div class="bs-header">
          <div class="container">
            <div class="info">
              <div class="call-sec">
                <i class="fa-solid fa-phone"></i>
                <div>
                  <div>
                    <a href="tel:+84123456789" class="call-link">Call US :
                      <span class="call-num">(+84)123456789</span></a>
                  </div>
                  <div>
                    <a href="mailto:support@freashmeal.com">E-mail:
                      support@freashmeal.com</a>
                  </div>
                </div>
              </div>
              <div class="logo-div">
                <img src="imgs/logo/logo.svg" alt="logo" />
              </div>

              <div class="work-sec">
                <i class="fa-regular fa-clock"></i>
                <div>
                  <div>
                    <h3>Working Hours</h3>
                  </div>
                  <div>
                    <h4 id="time-header">Mon- Sat (8.00am - 12.00am)</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-bar">
              <nav>
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Shop</a></li>
                  <li><a href="">Home</a></li>
                  <li><a href="">Home</a></li>
                  <li><a href="">Home</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

      </div>
      <div class="nav-trigger">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-bar-chart"
        >
          <line x1="12" y1="20" x2="12" y2="10"></line>{{! 3  }}
          <line x1="18" y1="20" x2="18" y2="4"></line>{{! 2  }}
          <line x1="6" y1="20" x2="6" y2="16"></line>
          {{! 1  }}
        </svg>
      </div>

    </div>
    <section class="top-products-sec">
      <h3 class="top-products-header">Top Products</h3>
      <div class="carosuel">
        <div class="prev-btn-div">
          <a class="next">&#10094;</a>
        </div>
        <div class="container">
          <div class="carosuel-div">
            <div class="plate-img">
              <img
                width="250"
                height="250"
                src="imgs/products/p-1.png"
                alt=""
              />
            </div>
            <div class="plate-info">
              <div class="plate-name">Greek Salad</div>
              <div class="plate-rating">
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/star-grey.svg" alt="" />
                <img src="imgs/icons/star-grey.svg" alt="" />
              </div>
              <div class="plate-price">&dollar; 1.25</div>
              <div class="plate-carte-div">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="add-to-cart-div">Add to cart</div>
              </div>

            </div>
          </div>
          <div class="carosuel-div">
            <div class="plate-img">
              <img
                width="250"
                height="250"
                src="imgs/products/p-2.png"
                alt=""
              />
            </div>
            <div class="plate-info">
              <div class="plate-name">Russian Salad</div>
              <div class="plate-rating">
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/star-grey.svg" alt="" />
                <img src="imgs/icons/star-grey.svg" alt="" />
              </div>
              <div class="plate-price">&dollar; 1.25</div>
              <div class="plate-carte-div">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="add-to-cart-div">Add to cart</div>
              </div>

            </div>
          </div>
          <div class="carosuel-div">
            <div class="plate-img">
              <img
                width="250"
                height="250"
                src="imgs/products/p-3.png"
                alt=""
              />
            </div>
            <div class="plate-info">
              <div class="plate-name">Summer Salad</div>
              <div class="plate-rating">
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/start-filled.svg" alt="" />
                <img src="imgs/icons/star-grey.svg" alt="" />
                <img src="imgs/icons/star-grey.svg" alt="" />
              </div>
              <div class="plate-price">&dollar; 1.25</div>
              <div class="plate-carte-div">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="add-to-cart-div">Add to cart</div>
              </div>

            </div>
          </div>
        </div>
        <div class="next-btn-div">
          <a class="next">&#10095;</a>
        </div>
      </div>
      <button class="view-more-btn">View More</button>
    </section>

    <script src="../public/js/app.js"></script>
    <script src="../public/js/addEventListener.js"></script>
  </body>

</html>