@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --primary-color: #eebf00;
  --secondary-color: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway";
  background-color: var(--light);
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.container {
  width: 83%;
  margin: auto;
}

.tittle {
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.head {
  box-shadow: 4px 2px 5px 0px #888888;
}

header a {
  color: var(--pure);
}

header {
  background-color: var(--secondary-color);
  color: var(--pure);
}

header .container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  gap: 20px;
}

header ul li,
header .headerIcons i {
  display: inline;
  padding: 5px;
}

.headerLogs i {
  margin-right: 5px;
}

.body .bs-header .container .info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}

.info a {
  color: var(--secondary-color);
}

.call-sec .call-link {
  font-weight: bold;
}

.bs-header .container .call-sec,
.work-sec {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bs-header i {
  font-size: 25px;
}

.work-sec div:first-child h3 {
  font-weight: bold;
}

.work-sec div:last-child h4 {
  font-weight: 500;
  color: var(--ternary);
}

.fa-clock,
.fa-phone {
  font-weight: 900;
  color: var(--primary-color);
}

.work-sec div:first-child,
.call-sec div:first-child {
  margin-bottom: 5px;
}

.nav-bar {
  margin-top: 35px;
}

.nav-bar nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.nav-bar nav ul li a {
  padding: 15px;
  display: block;
  transition: 0.3s;
  font-weight: 700;
}

.nav-bar nav ul li a:hover {
  background-color: var(--primary-color);
  color: var(--pure);
}

.nav-trigger svg {
  transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.3s;
}

.nav-trigger svg:hover {
  color: var(--primary-color);
}

body .main-head {
  display: none;
  height: 100vh;
  width: 100vw;
  box-shadow: none;
}

body .main-head .bs-header .container {
  width: 100%;
}

body .main-head .container .nav-bar {
  margin: 5px 0 10px;
}

body .main-head .container .nav-bar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body .main-head .container .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding-left: 15px;
}

body .main-head .container .info a,
body .main-head .container .info h4 {
  font-size: 0.8em;
}

@media (max-width: 950px) {
  .body {
    height: 75%;
    position: fixed;
    right: -30%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    background-color: red;
    box-shadow: 0 3px 10px 0 var(--secondary);
  }

  .body .head {
    display: none;
  }

  body .main-head {
    display: block;
  }

  /* media queiry for about-fresh-meal-sec */
  .about-fresh-meal-sec .container {
    flex-flow: column nowrap;
    gap: 1em;
  }

  .container {
    width: 90%;
  }

  .about-sec-img img {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .body {
    right: -38%;
  }
}

/* top products sec */
.top-products-sec {
  width: 100%;
  padding: 40px 0;
  background: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top-products-header,
.about-sec-header {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.5em;
}

.top-products-header::after,
.about-sec-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(../imgs/logo/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}

.carousel-cell {
  margin: 0 1.8em;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5em;
  background-color: #b5b5b526;
}

.carousel-cell.is-selected {
  background: var(--pure);
}

.carousel-cell .plate-img img {
  width: 190px;
  height: 188px;
}

.carousel-cell .plate-img {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--light);
}

.carousel-cell .plate-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.6em;
  padding: 0 20px 20px;
  /* margin-bottom: 12px;
	*/
}

.carousel-cell .plate-carte-div {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--primary-color);
  padding-right: 10px;
}

.plate-price {
  font-weight: 550;
  color: var(--danger);
}

.carousel-cell .plate-carte-div div i {
  background-color: var(--primary-color);
  color: var(--heaven);
  padding: 5px;
}

.carousel-cell .plate-info .plate-name {
  font-size: 1.3rem;
}

.carousel-cell .plate-info .add-to-cart-div {
  cursor: pointer;
  transition: 0.1s ease;
}

.carousel-cell .plate-info .plate-carte-div:hover {
  background-color: var(--primary-color);
  color: var(--pure);
}

.plate-rating {
  display: flex;
  gap: 0.5em;
}

.secondary-button {
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  font-size: 1.2em;
  background: var(--secondary-color);
  color: var(--heaven);
  padding: 9px;
  border-radius: 5px;
  transition: 0.4s ease;
  margin-top: 1.2em;
  font-weight: 600;
}

.secondary-button:hover {
  background-color: var(--heaven);
  color: var(--secondary-color);
}

/* smaller, dark, rounded square */
.flickity-button {
  background: var(--primary-color);
}

.flickity-button:hover {
  background: var(--secondary-color);
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* About Fresh Meal sec */
.about-fresh-meal-sec {
  background-color: var(--pure);
  padding: 2.5em 0;
}

.about-fresh-meal-sec .container {
  display: flex;
  gap: 1.5em;
  align-items: center;
  margin-top: 2em;
}

.about-sec-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-sec-info {
  padding: 2em 0;
  flex: 1;
}

.about-sec-info h2 {
  font-size: 1.4rem;
  color: var(--secondary-color);
  line-height: 1.3;
  margin-bottom: 1em;
}

.about-sec-info p {
  line-height: 1.7;
  margin-bottom: 4rem;
}